<h1>Demo#Hello</h1>
<p>Hello from test!</p>


<% @array.each do |n| %>
  <%= n %><br />
<% end %>
  
<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Next Page: <%= @page + 1 %>

<hr />
<%= params.inspect %>